@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@680&display=swap');

:root{
    /* ======================COLORS=================== */

    --primary-color: hsl(300, 10%, 96%);
    --secondary-color: hsl(352, 87%, 67%);
    --about-me-color:hsl(300, 54%, 72%);
    --hs-color: hsl(264, 7%, 27%);
    --p-color:hsl(0, 1%, 31%);
    --invert-primary-color:hsl(264, 7%, 27%);

    /* ======================FONTS=================== */

    --b-f:'Roboto', sans-serif;
    --hs-f: 'Raleway', sans-serif;
    --cursive-f: 'Dancing Script', cursive;

    /* ======================FONT-SIZE=================== */
    --big-font-size: 2.5rem;
    --big-font-size-p: 1.5rem;
    --h1-font-size: 2.4rem;
    --h2-font-size: 2.2rem;
    --h3-font-size: 1.6rem;
    --normal-font-size: .93rem;
    --small-font-size: .83rem;
    --btn-font-size: 1.2rem;

    /* ======================MARGINS BOTTOM=================== */

    --mb-0-25: .25rem;
    --mb-0-50: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* ====================== TRANSITIONS =================== */

    --t-bounce:.4s cubic-bezier(.34,1.56,.64,1);
    --t-normal: all 300ms ease-in-out;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--b-f);
    font-size: var(--normal-font-size);
    /* background-color: red; */
}
body.dark{
    --primary-color:hsl(264, 7%, 27%);
    --secondary-color: hsl(253, 100%, 60%);
    --about-me-color:hsl(263, 25%, 23%);
    --hs-color: hsl(300, 10%, 96%);
    --p-color:hsl(300, 10%, 96%);
    --invert-primary-color:hsl(300, 10%, 96%);
    
}
h1,h2,h3,h4,h5,h6{
    color: var(--hs-color);
    font-family: var(--hs-f);
    transition: var(--t-normal);
}
h2{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-50);
}
h3{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-25);
}
p{
    color: var(--p-color);
    transition: var(--t-normal);
}
a{
    text-decoration: none;
    transition: var(--t-normal);
}
li{
    list-style: none;
    transition: var(--t-normal);
}

/* ====================== REUSABLE CLASSES=================== */
.section{
    padding: 2rem 0 4rem;
}
.container{
    max-width: 1200px;
    padding-left: var(--mb-1-5);
    padding-right: var(--mb-1-5);
}
.grid{
    display: grid;
    gap: 1.5;
}

/* ====================== HEADER =================== */
header{
    width: 100%;
    padding: var(--mb-1) 0px;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
header div.container{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    
}

header div.container div.logo a{
    font-family: var(--cursive-f);
    font-size: 2.5rem;
    color: var(--secondary-color);
    transition: var(--t-normal);
}
.fa-moon,.fa-sun,.indicator,.toggle-nav{
    color: var(--invert-primary-color);
}

header div nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
}
header div nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header div nav ul li{
    margin:0px  var(--mb-0-50);
    padding: 1.5rem 0rem .5rem;

}
header div nav ul li a{
    position: relative;
    color: var(--invert-primary-color);
}
header div nav ul li a.li-about-me::before{
    text-align: center;
    position: absolute;
    top: -15px;
    font-family: "FontAwesome";
    content: '\f007';
    width: 100%;
    height: 100%;
    color: var(--invert-primary-color);
    transition: var(--t-normal);

}
header div nav ul li a.li-contact::before{
    text-align: center;
    position: absolute;
    top: -15px;
    font-family: "FontAwesome";
    content: '\f1d8';
    width: 100%;
    height: 100%;
    color: var(--invert-primary-color);
    transition: var(--t-normal);

}
.toggle{
    position: relative;
    display: flex;
    align-items: center;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
    cursor: pointer; 
    transform: scale(.9);     
}
.indicator{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height:30px;
    background: var(--invert-primary-color);
    border-radius: 50%;
    transform: scale(1.05);
    transition: .4s cubic-bezier(.34,1.56,.64,1);
}
.fa-moon{
    width: 100%;
    text-align: left;
    margin-left: 8px;
}
.fa-sun{
    width: 100%;
    text-align: right;
    color: var(--invert-primary-color);
    margin-right: 8px;
}
.icon{
    font-size: var(--normal-font-size);
}


/* ======================SECTION 1=================== */
.dark-banner{
    position: relative;
    background: var(--primary-color);
    transition: var(--t-normal);
    z-index: 50;
}
.dark-banner article.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding-top: 50px;
}

.dark-banner article.container svg{
    display: none;
}
.dark-banner article.container div.banner-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 10;
    text-align: left;
    justify-content: center;

}
.dark-banner article.container div.banner-text p{
    margin-bottom: var(--mb-0-25);
    font-size: var(--big-font-size-p);
    font-family: var(--cursive-f);
}
.dark-banner article.container div.banner-text h1{
    margin-bottom: var(--mb-3);
    font-size: var(--big-font-size); 
}
.fun{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--hs-color);
    transition: var(--t-normal);
}
.ger{
    font-size: 2.8rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--hs-color);
    transition: var(--t-normal);
}
#luz{
    opacity: 1;
    position: relative;
    animation: intermitente 3s;
    transition: var(--t-normal);
}
#lampara{
    cursor: pointer; 
}
@keyframes intermitente{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    15%{
        opacity: 0;
    }
    18%{
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
    23%{
        opacity: 1;
    }
    26%{
        opacity: 0;
    }
    29%{
        opacity: 1;
        
    }
    
}
/* ======================SECTION 2=================== */
 section.about-me{
    position: relative;
    background-color: var(--about-me-color);
    text-align: center;
    z-index: 60;
 }
 section.about-me article div.container-about-me-texts{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
 }
 section.about-me h2{
    margin-bottom: var(--mb-2);
 }
section.about-me article div div.texts p{
        /* width: 100%; */
        line-height: 1.5;
        font-weight: 600;
        margin-bottom: var(--mb-2);
}
section.about-me article div div.texts a{
    text-align: center;
    position: relative;
    display: inline-block;
    width: 140px;
    height: 40px;
    line-height: 40px;
    font-size: var(--btn-font-size);
    background: var(--invert-primary-color);
    margin-bottom: var(--mb-2);
}
section.about-me article div div.texts a::after{
    position: absolute;
    content: "Get my CV";
    text-align: center;
    line-height: 40px;
    top: 0px;
    left: 0px;
    transform: translate(0.3rem,-0.6rem);
    width: 140px;
    height: 40px;
    font-size: 1.2rem;
    background: var(--primary-color);
    transition: var(--t-bounce);
    border: 2px solid var(--invert-primary-color) ;
    color: var(--invert-primary-color);
    /* font-weight: 600; */
}
section.about-me article div div.texts a:hover::after{
    transform: translate( 0%,0%);
    top: 0;
    left: 0;

}

.swiper {
    width: 200px;
    height: 150px;
}
.swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.swiper-slide i{
    font-size: 5rem;
    color: var(--invert-primary-color);
    margin-bottom: var(--mb-0-25);
}
.swiper-pagination-bullet{
    position: relative;
  background-color:var(--secondary-color);
  bottom: -.5rem;
  /* width: 10px;
  height: 50px; */
}
.swiper-button-prev,.swiper-button-next{
  color: var(--secondary-color);
  opacity: .5;
  transform: scale(.5);
}
.swiper-button-next:hover{
    opacity: 1;
  }
  .swiper-button-prev:hover{
    opacity: 1;
  }
  /* ======================SECTION 3=================== */

  .footer{
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--secondary-color);
    /* padding: 0px 20%; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.footer-container{
    text-align: center;
    position: relative;
    background: var(--primary-color);
    width: 80%;
    margin: 50px 0px;
    /* max-width: 600px; */
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.footer-texts{
    width: 100%;
    /* padding-left: 100px; */
    padding: 0 var(--mb-1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.footer-texts h2{
    margin-bottom: var(--mb-1);
}
.footer-texts p{
    max-width: 400px;
    font-size: 2rem;
    margin-bottom: var(--mb-1);
}
.footer-texts p a{
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.media{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: start; */
    justify-content: space-evenly;
}
.media a{
    color: var(--invert-primary-color);
    transition: .2s cubic-bezier(.34,1.56,.64,1);
}
.media a:hover{
    color: var(--secondary-color);
}
.media a i{
    font-size: 2rem;
    padding: 0 var(--mb-0-50);
    margin-bottom: var(--mb-1);
    /* padding-right: var(--mb-1); */
}
.footer-img{
    width: 100%;
}
.footer-img svg{
    /* position: absolute; */
    position: static;
    /* bottom: 0px;
    right:-30px; */
    width: 100%;
    height: 200px;
    
}
.contact-me{
    fill: var(--hs-color);
}


/* ======================568 MEDIA=================== */
@media screen and (min-width: 568px){
    .swiper {
        width: 220px;
    }

}

/* ======================768 MEDIA=================== */
@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 3.3rem;
        --big-font-size-p: 2.5rem;
         --h1-font-size: 2.25rem;
         --h2-font-size: 1.5rem;
         --h3-font-size: 1.25rem;
         --normal-font-size: 1rem;
         --small-font-size: .87rem;
    }
    .container{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
 /* ====================== HEADER =================== */
 header div nav{
    position: static;
    width: auto;
    background-color: transparent;
}
header nav ul li{
    position: relative;
    overflow: hidden;
    padding: 4px 0px;
    margin: 0px 30px;
}

header nav ul li::before{
    position: absolute;
    content: "";
    bottom: 0;
    transform: translateX(-150px);
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    transition: .6s cubic-bezier(.34,1.56,.64,1);
    opacity: 0;
    
}
header nav ul li:hover:before{
    transform: translateX(0%);
    opacity: 1;
}
header div nav ul li a.li-about-me::before{
display: none;
}
header div nav ul li a.li-contact::before{
    display: none;

}
header nav ul li a{
    font-size: var(--h3-font-size);
}

/* ======================SECTION 1=================== */

main section.dark-banner::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    transition: all 300ms ease-in-out;
    background: var(--secondary-color);
}
.dark-banner article.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.svg-btn{
    width: 100%;
}
.dark-banner article.container svg{
    min-width: 350px;
    width: 100%;
    /* height: 100%; */
    display:block;
    position: relative;
    order: 1;
}
.dark-banner article.container div.banner-text{
    height: 100%;
    width: 100%;
    order: 2;
    margin-left: var(--mb-2);
}
.toggle{
    background: var(--primary-color);
}

/* ======================SECTION 2=================== */

section.about-me{
    height: 100vh;
}
section.about-me article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 100%;
    height: 100%;

}  
section.about-me article div.container-about-me-texts{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    width: 100%;
}
section.about-me article div.container-about-me-texts div.texts{
    width: 100%;
}
section.about-me article div.container-about-me-texts div.texts p{
    max-width: 576px;
}
section.about-me article div.container-about-me-texts div.skills{
    width: 100%;
    text-align: center;
}
.swiper {
    width: 350px;
}
/* ======================SECTION 3=================== */
}
